/* vim: set sts=2 sw=2: */
@define-color green #00cccb;
@define-color red #cd0089;
@define-color yellow #ffdd33;
@define-color lightgray #dddddd;
@define-color gray #aaaaaa;
@define-color black #494949;
@define-color dark #202020;
@define-color white #fdfdfe;

@define-color box #fdfdfe;
@define-color box_text #202020;

@define-color window_normal #f4f4f4;
@define-color window_normal_text #202020;

* {
  transition: background-color 0.5s ease;
}

selection {
  color: @dark;
  background-color: @yellow;
}

window,
dialog,
assistant,
popover,
.background {
  color: @window_normal_text;
  background-color: @window_normal;
}

label:disabled {
  color: alpha(@window_normal_text, 0.4);
}

.app-notification,
.app-notification.frame {
  color: @white;
  background-color: @black;
  border-radius: 4px;
  box-shadow: 0 2px rgba(0,0,0,0.3);
}

.app-notification button,
.app-notification button:hover {
  background-color: @yellow;
}

popover {
  border: solid 1px @lightgray;
  border-radius: 4px;
  box-shadow: 0 2px rgba(0,0,0,0.3);
}

frame {
  border-radius: 2px;
  border: solid 1px @lightgray;
  color: @window_normal_text;
}
frame.flat {
  border: none;
}
frame frame,
frame .frame,
.frame frame,
.frame .frame {
  border: none;
}

scrollbar {
  min-width: 10px;
  min-height: 10px;
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  padding: 4px 1px;
}

scrollbar slider {
  border-radius: 8px;
  min-width: 4px;
  min-height: 4px;
  background-color: @gray;
  transition: min-width 0.1s, min-height 0.1s;
}

scrollbar slider:hover {
  min-width: 8px;
  min-height: 8px;
}


/*WIP*/
menu {
  background-color: @box;
  padding: 2px;
}

menuitem {
  color: @box_text;
  background-color: @box;
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
  min-height: 12px;
}

menu check,
menu radio {
  min-height: 12px;
  min-width: 12px;
}

menubar > menuitem {
  color: @window_normal_text;
  background-color: @window_normal;
}
menuitem:hover {
  background-color: @yellow;
  color: @dark;
}
menuitem:disabled {
  color: alpha(currentColor, 0.4);
}
menu separator {
  border-top: 1px solid @lightgray;
}

button,
button:hover {
  background-color: @box;
  border-radius: 2px;
  box-shadow: 0 2px rgba(0,0,0,0.3);
  color: @box_text;
  padding: 4px;
  margin: 2px 0;
}

button:active {
  background-color: @lightgray;
}

button.destructive-action {
  background-color: @red;
  color: @white;
}

button:checked {
  background-color: @yellow;
  color: @dark;
}

button:disabled {
  color: alpha(currentColor, 0.4);
  box-shadow: 0 0;
}
button > label:disabled {
  color: alpha(@box_text, 0.4);
}
button:checked > label:disabled {
  color: alpha(@dark, 0.4);
}

button:disabled image {
  opacity: 0.5;
}

button.color,
button.flat {
  color: @window_normal_text;
  background-color: transparent;
  box-shadow: none;
}

button.color:hover,
button.flat:hover {
  background-color: @lightgray;
}

.horizontal.linked > button,
.horizontal.linked > entry,
.horizontal.linked>combobox .horizontal.linked button {
  border-radius: 0;
  border-left: solid 1px rgba(0,0,0,0.3);
}

.horizontal.linked > button:nth-last-child(2),
.horizontal.linked > entry:nth-last-child(2),
.horizontal.linked>combobox:nth-last-child(2) .horizontal.linked button {
  border-right: solid 1px rgba(0,0,0,0.3);
}
.horizontal.linked>button:first-child,
.horizontal.linked>entry:first-child,
.horizontal.linked>combobox:first-child .horizontal.linked button {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: none;
}
.horizontal.linked>button:last-child,
.horizontal.linked>entry:last-child,
.horizontal.linked>combobox:last-child .horizontal.linked button {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: none;
}

separator {
  border: 0 solid @lightgray;
  min-height: 1px;
  min-width: 1px;
}

separator.horizontal {
  border-bottom-width: 1px;
}
separator.vertical {
  border-right-width: 1px;
}

list {
  background-color: @box;
  color: @box_text;
}
list separator {
  border: none;
}
list row {
  border: none;
  box-shadow: none;
  padding: 4px;
}
list row:hover {
  background-color: @lightgray;
}
list row:selected {
  background-color: @yellow;
}

/*FIXME*/
button.combo box {
  margin: -2px 2px;
}

headerbar {
  color: @white;
  background-color: @black;
  box-shadow: 0 2px rgba(0,0,0,0.3);
  padding: 0 4px;
}

button.titlebutton,
button.titlebutton:hover {
  margin: 6px 2px;
  border-radius: 20px;
  transition: opacity 0.3s ease;
}

button.titlebutton.minimize {
  background-color: @yellow;
  padding: 0;
}
button.titlebutton.maximize {
  background-color: @green;
  padding: 0;
}
button.titlebutton.close {
  background-color: @red;
  padding: 0;
}
button.titlebutton.minimize:active,
button.titlebutton.maximize:active,
button.titlebutton.close:active {
  opacity: 0.8;
}
button.titlebutton.minimize image,
button.titlebutton.maximize image,
button.titlebutton.close image {
  opacity: 0;
}

stackswitcher button,
stackswitcher button:hover {
  border-radius: 0;
}
stackswitcher button:first-child {
  border-radius: 4px 0 0 4px;
}
stackswitcher button:last-child {
  border-radius: 0 4px 4px 0;
}

headerbar button,
headerbar button:hover {
  min-height: 20px;
  min-width: 20px;
  margin: 4px 0;
  padding: 4px;
}

headerbar button.titlebutton,
headerbar button.titlebutton:hover {
  min-height: 0px;
  min-width: 0px;
  margin: 6px 2px;
}

statusbar frame {
  border: none;
}

actionbar {
  padding: 4px 8px;
}

paned > separator {
  background-color: @lightgray;
}

paned.horizontal > separator {
  margin: 12px 0;
}
paned.vertical > separator {
  margin: 0 12px;
}

box.sidebar {
  background-color: @box;
  color: @box_text;
}
box.sidebar > * {
  padding: 4px;
}
box.sidebar > .highlight {
  background-color: @lightgray;
}

textview {
  background-color: @box;
  color: @box_text;
}

entry {
  background-color: @box;
  color: @box_text;
  padding: 4px;
  border-radius: 2px;
  box-shadow: 0 2px rgba(0,0,0,0.3);
  margin: 2px 0;
}

entry:hover {
  transition: box-shadow 100ms;
  box-shadow: 0 2px rgba(0,0,0,0.3);
}

entry:disabled {
  color: alpha(currentColor, 0.4);
  box-shadow: 0 0;
}

combobox arrow {
  min-width: 12px;
  min-height: 12px;
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

combobox entry+button arrow {
  transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

spinbutton.horizontal entry {
  border-radius: 2px 0 0 2px;
}
spinbutton.horizontal button {
  border-radius: 0;
}
spinbutton.horizontal button:last-child {
  border-radius: 0 2px 2px 0;
}

spinbutton.vertical button {
  border-radius: 100% 100% 0 0;
}
spinbutton.vertical entry {
  border-radius: 0;
}
spinbutton.vertical button:last-child {
  border-radius: 0 0 100% 100%;
}

check,
check:hover,
radio,
radio:hover {
  border: solid 2px @yellow;
  background-color: @box;
  margin: 2px 4px;
}

check {
  border-radius: 3px;
}
radio {
  border-radius: 100%;
}

check:indeterminate,
check:checked,
radio:indeterminate,
radio:checked {
  background-color: @yellow;
}
check:indeterminate,
radio:indeterminate {
  -gtk-icon-source: url('./assets/indeterminate-black.svg');
}
check:checked {
  -gtk-icon-source: url('./assets/check-black.svg');
}
radio:checked {
  -gtk-icon-source: url('./assets/radio-black.svg');
}

check:disabled,
radio:disabled {
  background-color: transparent;
}
check:disabled:indeterminate,
radio:disabled:indeterminate {
  -gtk-icon-source: url('./assets/indeterminate.svg');
}
check:disabled:checked {
  -gtk-icon-source: url('./assets/check.svg');
}
radio:disabled:checked {
  -gtk-icon-source: url('./assets/radio.svg');
}

progressbar {
  color: @window_normal_text;
  margin: 2px;
}
progressbar trough {
  background-color: @lightgray;
  min-height: 6px;
  min-width: 6px;
}
progressbar progress {
  background-color: @red;
}

levelbar trough  {
  background-color: @lightgray;
  min-height: 6px;
  margin: 2px;
}

levelbar block,
levelbar block:hover {
  margin: 0 4px;
  min-height: 4px;
  background-color: @red;
}
levelbar block:first-child {
  margin: 0 4px 0 0;
}

levelbar block:last-child {
  margin: 0 0 0 4px;
}
levelbar block.empty {
  background-color: transparent;
}

switch,
switch:hover {
  min-height: 24px;
  border-radius: 24px;
  color: transparent;
  box-shadow: inset 0 2px rgba(0,0,0,0.3);
  background-color: @lightgray;
  transition: background-color 0.1s;
}

switch:checked {
  background-color: @green;
}

switch slider,
switch:hover slider {
  margin: 2px;
  border-radius: 100px;
  box-shadow: 0 2px rgba(0,0,0,0.3);
  min-height: 22px;
  min-width: 22px;
  background-color: @box;
  transition: background-color 0.05s;
}

switch:disabled,
switch:disabled slider {
  box-shadow: none;
}

scale,
scale:hover {
  min-height: 24px;
  min-width: 24px;
}
scale.vertical {
  margin: 10px 2px;
}
scale.horizontal {
  margin: 2px 10px;
}
scale trough {
  margin: 4px;
  border-radius: 12px;
  background-color: @lightgray;
  box-shadow: inset 0 2px rgba(0,0,0,0.3);
}
scale highlight {
  border-radius: 12px;
  background-color: @green;
  box-shadow: inset 0 2px rgba(0,0,0,0.3);
}
scale slider {
  margin: -5px;
  min-height: 18px;
  min-width: 18px;
  background-color: @box;
  border-radius: 12px;
  box-shadow: 0 2px rgba(0,0,0,0.3);
}
scale value {
  color: @window_normal_text;
  margin: 2px;
}
scale:disabled slider,
scale:disabled trough,
scale:disabled highlight {
  box-shadow: none;
}
scale:disabled value {
  color: alpha(currentColor, 0.4);
}



/*GtkPathBar(WIP)*/
.path-bar button,
.path-bar button:hover {
  margin: 4px;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 4px;
  border-bottom: solid 2px @lightgray;
}

.path-bar button:checked {
  border-bottom: solid 2px @green;
}

/*
.path-bar button.toggle:nth-child(n+5) {
  margin: 4px;
  background-image: url("assets/rarrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 4 4 4 20px;
}
*/

.path-bar button:disabled {
  border-bottom: solid 2px transparent;
}
.path-bar button:disabled image {
  opacity: 0;
}


/*WIP*/
treeview,
iconvew,
.view {
  background-color: @box;
  color: @box_text;
  border-radius: 2px;
}
treeview button,
treeview button:hover {
  border-radius: 0;
}
treeview:selected {
  border-radius: 0;
  background-color: @yellow;
  color: @dark;
}
iconview:selected {
  border: solid 2px @gray;
  background-color: @lightgray;
  border-radius: 4px;
}


/*WIP*/
notebook.frame {
  border-radius: 4px;
  background-color: rgba(0,0,0,0.02);
  border: solid 1px rgba(0,0,0,0.05);
  padding: 6px 12px 12px 12px;
  margin: 12px;
}

notebook header tab,
notebook header tab:hover {
  padding: 6px;
  margin: 0 4px;
  background-color: transparent;
  border-bottom: solid 2px rgba(0,0,0,0.3);
}
notebook header tab:checked {
  border-bottom: solid 2px @green;
}

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}

spinner {
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}

spinner:checked {
  opacity: 1;
  animation: spin 1s linear infinite;
}

spinner:checked:disabled {
  opacity: 0.6;
}
